@mixin title ($size: 'xl') {
   @if $size == 'md' {font-size: 2rem;}
   @if $size == 'sm' {font-size: 1.5rem;}
   @else if $size == 'xl' {font-size: 2.5rem;}
}

@mixin positionCenter {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin subTitle ($color: 'black') {
   font-size: 0.7rem;
   @if ($color == 'white') {color: rgba(#fff, .7);}
   @else {color: rgba(#000, .7);}
}